# Package dependencies
Click==7.0
dataclasses==0.6
gym==0.12.0
numpy==1.16.2
pandas==0.23.4
setuptools==40.8.0
simpy==3.0.11

# Learning dependencies (optional)
tensorflow==1.13.1
keras==2.2.4
keras-rl==0.4.2

# Notebook dependencies
matplotlib==3.0.2
seaborn==0.9.0

# Project dependencies
autopep8
flake8
flake8-bugbear
jupyter
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
